# Ignore any locally generated sqlite files for testing
*.sqlite

# Ignore Excel files created while testing
*.xlsx
*.xls

# Ignore PyCharm files
.idea/

# Ignore pycache files and byte-code compiled files
__pycache__/
*.pyc
